.circle-image {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius:100%;
  border: 6px solid #303030;
  border-collapse: separate;
}

.marine2 {
  background-color: #1b1d27;
}

body #root {
  background-color: rgb(59, 60, 71);
}

.card {
  background-color: #1b1d27 !important;
}